@use 'font';

.footer {
    background-color: #122f4d;
    padding: 35px 0 25px;

    p {
        @include font.OpenSans;
        @include font.setting(12px, 100, 16px);
        color: #fff;
        text-align: justify;

        margin: 10px 0;
    }
}