.footer {
    background-color: #122f4d;
    padding: 35px 0 25px;

    p {
        color: #fff;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        line-height: 16px;
        margin: 10px 0;
    }
}