@use 'font';
@use 'mixin';

.link-container {
    margin-top: 50px;
    background-color: #eee;
    padding: 14px 0 26px;

    .container {
        @include mixin.clear;
    }
}

.links {
    float: left;
    width: calc(100% / 4);

    padding-right: 15px;

    @media (max-width: 940px) {
        width: calc(100% / 2.7);
    }

    @media (max-width: 670px) {
        width: 100%;
        float: none;
        text-align: center;
        padding-right: 0px;
    }

    &__description {
        @include font.OpenSans;
        @include font.setting(14px, bold, 18px);
        color: #00a1df;
        margin: 0 7.5px 15px;
    }

    &__link {
        display: inline-block;
        margin: 0 7.5px 10px;
    }

    &--top {
        width: calc(100% / 2);
        text-align: center;
        padding-right: 0;

        @media (max-width: 940px) {
            width: calc(100% / 4);
            text-align: left;
        }

        @media (max-width: 670px) {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
        }

        button {
            @include font.OpenSans;
            @include font.setting(14px, bold, 50px);
            color: white;

            height: 50px;
            margin-top: 22px;
            text-decoration: none;
            border-radius: 50px;
            background-color: #00a1df;

            cursor: pointer;
            padding: 0 26px 0 22px;
            border: none;

            @media (max-width: 670px) {
                margin-right: 12px;
            }

            img {
                position: relative;
                top: 3px;
            }

            span {
                margin-left: 6px;
            }
        }
    }
}