@use 'font';

.plan {
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 920px) {
        margin-bottom: 20px;
    }

    @media (max-width: 640px) {
        margin-bottom: 10px;
    }

    h3 {
        @include font.OpenSans;
        color: #4e4e50;
        font-size: 19.61px;
        line-height: 1.53;

        text-align: center;
        margin: 40px 0;
    }

    p {
        font-size: 25px;
        color: #5a308d;
        line-height: 1.08;
        text-align: center;

        display: inline-block;
        margin: 0 auto;
        padding: 15px 36px;
        border-radius: 5px;
        background-color: #eeeeee;

        @media (max-width: 640px) {
            background: none;
            font-size: 20px;
            font-weight: bold;
            padding: 15px;
        }
    }
}
