@use 'font';

.plan {
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 920px) {
        margin-bottom: 20px;
    }

    @media (max-width: 640px) {
        margin-bottom: 10px;
    }

    h3 {
        @include font.OpenSans;
        @include font.setting(19.61px, normal, 1.53);
        color: #4e4e50;
        margin: 40px 0;
    }

    p {
        @include font.OpenSans;
        @include font.setting(25px, normal, 1.08);
        color: #5a308d;
        text-align: center;

        display: inline-block;
        margin: 0 auto;
        padding: 15px 36px;
        border-radius: 5px;
        background-color: #eeeeee;

        @media (max-width: 640px) {
            @include font.setting(20px, bold);
            background: none;
            padding: 15px;
        }
    }
}
