@use 'font';

.taxa {
    p {
        @include font.OpenSans;
        @include font.setting(12px, normal, 1.45);
        color: #989898;

        margin-top: 50px;
        padding: 15px 20px;
        background-color: #eee;
    }
}