@use 'font';
@use 'mixin';

.video {
    &__video {
        // 16 : 4
        padding-top: 56.25%;

        position: relative;
        width: 100%;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__header {
        @include mixin.clear;

        padding: 40px 0 36px;
        
        img {
            display: block;
            float: left;
            width: 96px;
            height: 95px;

            @media (max-width: 574px) {
                float: none;
                margin: 20px auto;
            }
        }

        p {
            @include font.OpenSans;
            @include font.setting(20px, normal, 24px);
            color: #9e9f9f;

            float: left;
            width: calc(100% - 98px);

            margin: 0;
            padding-left: 20px;
            padding-top: 12px;

            @media (max-width: 574px) {
                width: 100%;
                padding: 0;
                text-align: center;
            }
        }
    }
}