@use './../main/media';

$margin_tab: 4px;

@function tab_width($tab_limits) {
   @return calc(100% / #{$tab_limits} - #{$margin_tab} * 2);
}

@mixin tab_response {
    @include media.tablet_response {
        width: tab_width(2);
    }

    @include media.smartphone_response {
        width: 100%;
    }
}

////////////////////////////////////////////////////
.tabbar {
    // exibir apenas quando for atribuido 
    // clase ".active"
    display: none;

    &.active {
        display: block;
    }

    &__tab {
        margin: 0px $margin_tab;
        margin-top: 4px;
        // min-width: 224px;

        height: 40px;
        cursor: pointer;

        color: #00adef;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 1.2;

        border: 1px solid #ddd;
        background-color: #eee;

        transition: all 0.4s ease;

        &:hover, &.active {
            color: #004e70;
            background-color: #fff;
            // apagar line bottom
            // pra visual aparecer como tab
            border-bottom: 1px solid #fff;

            position: relative;
            z-index: 10;

            @include media.tablet_response {
                border-bottom: 1px solid #ddd;
            }
        }

        // responsive
        // quando q tem menos q 5tabs
        width: tab_width(4);
        @include tab_response;

        // quando tem 5tabs certo
        // pra nao ficar um tab separado na nova linha
        &.tabs-5 {
            width: tab_width(3);
            @include tab_response;
        }

        // acima de 6tabs
        &.tabs-5, &.tabs-more-5 {
            // como nao vai ser exibido border-bottom 
            // do tabBar, exibir border-bottom do tab
            &:hover, &.active {
                border-bottom: 1px solid #ddd;  // !important 
            }
        }

        // label do tab
        span {
            display: block;
            font-size: 13px;
            font-weight: bold;
        }
    }
}


////////////////////////////////////////////////////
#tabs-container {
    position: relative;

    #tabbars-container {
        margin: 20px 0;
    }

    #tabbar-border-bottom {
        display: none;

        &.active {
            display: block;
        }

        height: 1px;
        border-bottom: 1px solid #ddd;

        position: absolute;
        bottom: 0px;

        width: calc(100% - 40px);
        right: calc(40px / 2);

        // responsive
        @include media.tablet_response {
            display: none;
        }

        // quando tem mais que 5 tabs
        &.tabs-5, &.tabs-more-5 {
            display: none;
        }
    }
}
