.tables-section {
    display: none;

    &.active {
        display: block;
    }

    overflow-x: auto;
    margin: 0 4px;

    @media (max-width: 490px) {
        margin-right: -4px;
    }

    &__table {
        width: 100%;
        // for 2column
        // width: calc(50% - 15px);
        border-collapse: collapse;
        border-spacing: 0px;

        display: none;

        &.active {
            display: table;
        }

        thead {
            color: #272727;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            // line-height: 2.143;
            line-height: 1.543;

            border-bottom: 1px solid #cecece;
            background-color: #dcdcdc;

            text-align: left;
            // text-transform: uppercase;

            td {
                height: 50px;
                // padding: 0 0 0 20px;
                padding: 6px 20px 6px 20px;
            }
        }

        tbody {
            tr {
                height: 40px;

                &:nth-child(odd) {
                    background-color: #e8e8e8;
                }

                &:nth-child(even) {
                    background-color: #eee;
                }
            }

            td {
                color: #272727;
                font-size: 14px;
                font-family: "PT Sans", sans-serif;
                // line-height: 2.143;
                line-height: 1.543;
                text-align: left;

                // padding: 0 0 0 20px;
                padding: 6px 20px 6px 20px;
            }
        }
    }
}
