@use './../main/media';

#val-desc-ctn {
    display: flex;

    @include media.smartphone_response {
        flex-direction: column;
    }

    #table-container {
        width: 70%;
        padding-left: 0 27.5px;

        @include media.tablet_response {
            padding-left: 0 22.5px;
        }

        @include media.smartphone_response {
            width: 100%;
            padding-left: 0 15px;
        }
    }

    #tbl-desc-ctn {
        width: 30%;
        margin-top: 40px;
        padding: 30px 15px;
        background-color: #272727;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: flex;

                span {
                    margin-left: 8px;

                    b {
                        color: red;
                    }
                }
            }
        }
    }
}

.table-section {
    display: none;
    overflow-x: auto;

    &.active {
        display: block;
    }

    &__table {
        width: 100%;
        // for 2column
        // width: calc(50% - 15px);
        border-collapse: collapse;
        border-spacing: 0px;

        display: none;

        &.active {
            display: table;
        }

        thead {
            color: #272727;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            // line-height: 2.143;
            line-height: 1.543;
            font-weight: 600;

            border-bottom: 1px solid #cecece;
            background-color: #dcdcdc;

            text-align: center;
            // text-transform: uppercase;

            td {
                height: 50px;
                // padding: 0 0 0 20px;
                padding: 6px 20px 6px 20px;
            }
        }

        tbody {
            tr {
                height: 40px;

                &:nth-child(odd) {
                    background-color: #e8e8e8;
                }

                &:nth-child(even) {
                    background-color: #eee;
                }
            }

            td {
                color: #272727;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
                // line-height: 2.143;
                line-height: 1.543;
                text-align: center;

                // padding: 0 0 0 20px;
                padding: 6px 20px 6px 20px;
            }
        }
    }
}

.desc-col {
    display: none;
    overflow-x: auto;

    &.active {
        display: block;
    }
}