@use 'media';

* {
    box-sizing: border-box;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

//////////////////////////////////////////
// DEBUG
body{ padding-bottom: 600px }

.tables-select, .tabs, .tables {
    // display: none;
    margin-top: 40px;
}

//////////////////////////////////////////

.container {
    // max-width: 1260px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;

    @media(max-width: 774px) {
        padding: 0 20px;
    }

    @media(max-width: 490px) {
        padding: 0 15px;
    }
}
