@use 'media';

$margin_button: 4px;

@function button_width($button_limits) {
   @return calc(100% / #{$button_limits} - #{$margin_button} * 2);
}

@mixin button_response {
    @include media.tablet_response {
        width: button_width(2);
    }

    @include media.smartphone_response {
        width: 100%;
    }
}

////////////////////////////////////////////////////
.select {
    &__button {
        margin: 0px $margin_button;
        margin-top: 4px;
        // min-width: 224px;

        height: 40px;
        cursor: pointer;

        color: white;
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 1.343;

        border: 3px solid #00adef;
        background-color: #00adef;

        transition: all 0.4s ease;

        &:hover, &.active {
            color: #00adef;
            border: 3px solid #00adef;
            background-color: #fff;
        }

        // responsive
        // quando q tem menos q 5tabs
        width: button_width(4);
        @include button_response;

        // quando tem 5buttons certo
        // pra nao ficar um button separado na nova linha
        &.buttons-5 {
            width: button_width(3);
            @include button_response;
        }
    }
}
