.tabs {
    position: relative;

    // tabBar bottom line
    &::after {
        content: '';
        height: 1px;
        border-bottom: 1px solid #ddd;

        position: absolute;
        bottom: 0px;

        // width: 100%;
        // left: 0px;
        width: calc(100% - 40px);
        right: calc(40px / 2);
    }
}

.tabbar-container {
    margin: 20px 0;
    position: relative;
}

.tabbar {
    display: none;

    &.active {
        display: block;
    }

    &__tab {
        width: 25%;
        height: 40px;
        margin: 0 4px;
        cursor: pointer;

        color: #00adef;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 1.2;

        position: relative;
        z-index: 10;

        border: 1px solid #dddddd;
        background-color: #eeeeee;

        transition: all 0.4s ease;

        &:hover, &.active {
            color: #004e70;
            border: 1px solid #dddddd;
            border-bottom: 1px solid #FFFFFF;
            background-color: #FFFFFF;
            position: relative;
            z-index: 10;
        }

        span {
            display: block;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
